{% extends "::layout/layout.html.twig" %}
{%block body %}
    <div class="container">
        <div class="row">
            <div class="span3">
                {% include ':modules/navigation.html.twig' %}

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% include 'UtilisateurBundle:Default/modulesUsed/utilisateursConnecte.html.twig' %}
                {% else %}
                    {% include 'UtilisateurBundle:Default/modulesUsed/utilisateurs.html.twig' %}

                {% endif %}
                
                {% render (controller('journalBundle:Panier:menu')) %}
            </div>
            <div class="span9" >
          
                {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        <div class="alert alert-{{ label }} ">
                            {{ flash }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {%if Produits|length !=0 %}
                    <ul class="thumbnails">
                        {% for produit in Produits %}    
                            <li class="span3">
                                <div class="thumbnail">
                                    <img src="{{asset(produit.image.gertAssertPath)}}" alt="{{produit.image.name}}" width="300" height="150">
                                    <div class="caption">
                                        <h4>{{produit.nom}}</h4>
                                        <h5>{{ produit.categorie.nom }}</h5>
                                        <p>{{ produit.prix|tva(produit.tva.multiplication) |number_format(2, ',', ' ') }} {{ devise }} </p>
                                        
                                        <a class="btn btn-primary" href="{{path('produit' , {'id':produit.id}) }}">Plus d'infos</a>
                                        
                                        <a class="btn btn-success" href="{{path('ajouter' , {'id':produit.id})}}" >Ajouter au panier</a>
                                    </div>
                                </div>
                            </li> 
                        {% endfor %} 
                    </ul>
                    <div class="pagination">
                    {{ knp_pagination_render(Produits) }}
                    </div>
                   
                {% else %}
                    <div class="alert alert-info" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Oups: </span>
                        Aucun produit ne correspond à votre description!
                    </div>
                {%endif %}  
            </div>
        </div>
    </div>
{% endblock %}