{% extends "::layout/layout.html.twig" %}
{%block body %}
<div class="container">
    <div class="row">
        <?php include '../layout/col-left.php'; ?>

        <div class="span9">
            <div class="row">
                <div class="span5">
                    <img src="{{asset(Produit.image.path)}}" alt="{{asset(Produit.image.alt)}}" width="470" height="260">
                </div>

                <div class="span4">
                    <h4>{{ Produit.nom }}</h4>
                    <h5>{{ Produit.categorie.nom }}</h5>
                    <p>{{ Produit.description }}</p>
                    <h4{{ Produit.prix }} € </h4>
                    <form action="panier.php">


                        <select name="qte" class="span1">
                            <option>1</option>
                        </select>

                        <div>
                            <button class="btn btn-primary">Ajouter au panier</button>
                        </div>
                    </form>

                </div>
            </div>


        </div>
    </div>
</div>
{% endblock %}