{% extends "::layout/layout.html.twig" %}
 {% block title %} {{ Produit.nom }}{% endblock %}
{% block desciption %}{{ Produit.description }} {% endblock %}      

{%block body %}
<div class="container">
    <div class="row">
        <?php include '../layout/col-left.php'; ?>

        <div class="span9">
            <div class="row">
                <div class="span6">
                    <img src="{{asset(Produit.image.path)}}" alt="{{asset(Produit.image.alt)}}" width="470" height="260">
                </div>

                <div class="span3">
                    <h4>{{ Produit.nom }}</h4>
                    <h5>{{ Produit.categorie.nom }}</h5>
                    <h4>{{ Produit.prix |tva(Produit.tva.multiplication) |number_format(2, ',', ' ')}} {{ devise }}</h4>
                    <p>{{ Produit.description }}</p>
                    
                    <form action="{{ path('ajouter',{'id' : Produit.id}) }}" methode ="GET" >


                        <select name="qte" class="span1">
                            {% for i in 1..10 %}
                            <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>

                        <div>
                            <button class="btn btn-primary">Ajouter au panier</button>
                        </div>
                    </form>

                </div>
            </div>


        </div>
    </div>
</div>
{% endblock %}